* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #DCD0FF;
}

#todo {
    position: relative;
}

h1 {
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #663399;
}

.diapo {
    width: 90%;
    height: 80vh;
    margin: 20px auto;
    overflow: hidden;
    border: 5px solid #663399;
    text-align: center;
    position: relative;
    display: none;
}

.diapo__title {
    background-color: #663399;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

.diapo__list {
    display: flex;
    list-style: none;
    margin-top: 50px;
    justify-content: space-around;
    align-items: flex-start;
}

.list__item {
    display: block;
    background-color: #663399;
    border: 3px solid white;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 28px;
}

.list__link {
    text-decoration: none;
    color: white;
    background-color: #663399;
}

.atras {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #663399;
    text-decoration: none;
    cursor: pointer;
}

.sigue {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #663399;
    text-decoration: none;
    cursor: pointer;
}



#pre1:target {
    display: block;
}

#pre2a {
    display: none;
}

#pre2b {
    display: none;
}

#arlo {
    display: none;
}

#snoopy {
    display: none;
}

#asterix {
    display: none;
}

#starwars {
    display: none;
}

#sinsajo {
    display: none;
}

#apellCata {
    display: none;
}

#apellCata:target {
    display: block;
}

#pre2a:target {
    display: block;
}

#pre2b:target {
    display: block;
}

#arlo:target {
    display: block;
}

#snoopy:target {
    display: block;
}

#asterix:target {
    display: block;
}

#starwars:target {
    display: block;
}

#sinsajo:target {
    display: block;
}