* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.festivo {
    color: red;
}

body {
    font-family: Arial, sans-serif;
    background-color: #95E1FF;
    padding: 20px;
}

.mes {
    display: flex;
    width: 95%;
    margin: 10px auto;
    background-color: #FFFFE0;
    border: 1px solid #000;
    text-align: center;
    justify-content: center;
}

.enero {
    text-align: center;
    margin: 5px 0;
    letter-spacing: 3px;
    font-weight: 700;
}

.febrero {
    text-align: right;
    margin: 5px 0;
    font-weight: 700;
}

.marzo {
    text-align: left;
    margin: 5px 0;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.tabla__enero {
    margin-bottom: 10px;
    border-collapse: collapse;
}

.tabla__enero tr td {
    border-bottom: 1px solid gray;
    width: 40px;
}

.tabla__enero tr th {
    width: 40px;
    border-bottom: 1px solid gray;
}

.tabla__febrero {
    margin-bottom: 10px;
    border-collapse: collapse;
}

.tabla__febrero tr td {
    text-align: right;
    border-left: 1px solid gray;
    width: 30px;
}

.tabla__febrero tr th {
    width: 30px;
    text-align: right;
    border-left: 1px solid gray;
}

.tabla__febrero tr td:last-child {
    border-right: 1px solid gray;
    width: 30px;
    text-align: right;
}

.tabla__febrero tr th:last-child {
    width: 30px;
    text-align: right;
    border-right: 1px solid gray;
}

.tabla__marzo {
    margin-bottom: 10px;
    border: 1px solid gray;
    border-collapse: collapse;
}

.tabla__marzo tr td {
    text-align: left;
    border: 1px solid gray;
    width: 30px;
    padding: 3px;
}

.tabla__marzo tr th {
    width: 30px;
    padding: 3px;
    text-align: center;
    border: 1px solid gray;
}